
.grid-column-title {
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #90A4AE;
    font-size: 14px;
    box-shadow: 0px 2px 3px 0px #90A4AE;
}

.no-drop {
    background-color: rgba(118, 118, 118 , 0.1);
}

.can-drop {
    background-color: rgba(0, 204, 106, 0.05);
}

.drop {
    background-color: rgba(0, 204, 106, 0.15);
}