.grid {
    width: 100%;
    float: left;
    display: flex;
    background-color: #FFf;
    position: relative;
    min-height: 100%;
}

.grid > div {
    flex: 1;
    border-right: 1px solid #90A4AE;
}

@keyframes blink-animation {
  to {
    background-color: #ffcdd2;
  }
}
@-webkit-keyframes blink-animation {
  to {
    background-color: #ffcdd2;
  }
}

.input-tickets > .ticket.issue {
    border-color: #e74c3c;
    animation: blink-animation 0.2s steps(10, start) 0s 2;
    -webkit-animation: blink-animation 0.2s steps(10, start) 0s 2;
}

