.control-panel {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color: #16a085;
    text-align: center;
}

.control-panel > button {
    width: 150px;
}